 @media only screen and (max-width: 700px) {
    * {
     font-size: 10px; 
     display: auto;
    }
    body{
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .social-red{
        display: none;
    }
   header > .header > .container-perfil-menu, header > .header > nav .form-nav{
      display: block;
    }
 
    
    header > .menu-hamburguesa{
      display: block;
      z-index: 10;
      color: #2196f3;
      position: fixed;
      top:5px;
      left: 5px;
      }

    
    header> .header{
      display: grid;
      position: fixed;
      height: 100vh;
      backdrop-filter:blur(15px);
      width: 77%;
      left: -77%;
      grid-template-rows: 1fr 1fr 1fr;
      box-shadow: 0 0 0 .6px black;
    }
    input#check-nav-bar:checked ~ .header{
        left: 1px;
    }
  
    input#check-nav-bar:checked ~ .menu-hamburguesa > i {
            transform: rotate(90deg);
      }
        i{font-size: 30px;}

      header > .header > .container-perfil-menu > img{
        display: block;
        width: 50%;
        height: 70%;
        margin: 10% 0 0 14%;
        background-color: greenyellow;
        display: inline;
        border-radius: 50%;
        background-color: 45;

      }

       .container-perfil-menu > :nth-child(1){
        position: relative;
        top: -52%;
        left: 24%;
      }

      .container-perfil-menu > :nth-child(3){
        position: relative;
        top: -12%;
        left: -6%;
      }

      header > .header > nav > ul{
        height: 30px;
        margin-bottom: 10%;
        width: 99%;
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
        list-style: none;
        padding-left: 20px;
      }
      
      .header > nav > ul > .switch{
        position: relative;
        top: -250px;
        left: 0px;
      }

      .header > nav > ul > .switch::after{
      width: 35px;
      height: 35px;
      top: -2px;
      left: -2px;
      }

      .form-nav{
        margin: 4%;
        padding: 2%;
        background-color: white;
      }
      .form-nav > input{
        font-weight: 700;
      } 


      /* WELCOME */
       .section-main{
        margin:0px;
        top: -30px;
        padding: 0;
        position: relative;
        padding-bottom: 3%;
      }
     section > .welcome{
        height: 32vh;
        grid-template-rows: 1fr 1fr;  
        grid-template-columns: 1fr 1fr;        
      }
section> .welcome > .full-stack{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 10px;
        padding: 17% 0 0 10%;
      }
 .full-stack > p{
    display: none;
  } 

      /* PERFIL */

     section > .perfil{
        height: 30vh;
      }

      section > .perfil > .photo{
        background-size: 100%;
      }


      /* INFORMACION */
      section > .info > .habilidades > label{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
      }
      section > .info > .habilidades .fullstack{
        display: block;
        height: auto;
      }

     section > .info > .habilidades > .fullstack> .front > .container-js, section > .info > .habilidades > .fullstack> .back .front > .container-js{
        font-weight: 700;
      }
     section > .info > .habilidades > .fullstack > .front .container-js > .img-tecnology, section > .info > .habilidades > .fullstack> .back> .front > .container-js > .img-tecnology{
        width: 30px;
        height: 30px;
        margin: auto;
      }


      /* PRODUCTOS */
       section > .info > .productos-container{
        display: block;
        margin-top: 10%;
      }
      section > .info > .productos-container >.productos > h3{
        margin-bottom: 5%;
      }
     
      section > .info > .productos-container > .container-producto{
        height:auto;
        display: block;
      }

      section > .info > .productos-container > .container-producto > .proyecto > label, .id-list-project{
        display: none;
       }
       section > .info > .productos-container > .container-producto > .proyecto > .list-project{
        height: auto;
        display: flex;
        width: 95%;
        justify-content: space-between;
        gap: .2rem;
       }
       section > .info > .productos-container > .container-producto >.proyecto  .list-project >li{
        width: fit-content;
        }
        
        section > .info > .productos-container > .container-producto > .proyecto > .list-project >li > a{
            cursor: pointer;
            display: block;
            margin: 5px;
            } 

      /* contactos */
      section > .info> .contactos{
        display: block;
        margin-top: 10%;
       }

       section > .info> .contactos > .container-all-sugerencia{
        display: block;
        
       }
       section > .info> .contactos > .container-all-sugerencia > .container-all-items{
        width: 95%;
       }

       
  } 
